/* 全局样式 */
html,
body {
  height: 100%;
  color: #333;
  background: #fff;
}

h1,
h2,
h3,
p,
ul,
dd {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

* {
  touch-action: pan-y;
  /* 解决了轮播图警告问题，但是移动端不支持滑动下拉 */
  /* touch-action: none; */
  box-sizing: border-box;
}

#root,
.app {
  height: 100%;
}
